.messages {
    border: 1px solid grey;
    padding: 40px;
    margin: 30px;
}
.like{
    margin-left: 30px;
}
.dark{
    font-weight: bold;
    font-size: 1.2em;
}
.row{
    background-color: black;
    color:silver;
}
